 <ion-view view-title="个人信息">
 	<ion-nav-buttons side="left">
	   <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>	
    <ion-content class="mine">
       <!--<a href="#tab/first" class="button button-calm">第一页</a>-->
     	<h3 class="hobby">兴趣爱好</h3>
     		<p>音乐、旅游、编程、电影</p>
     	<h3 class="rated">自我评价</h3>
     		<p>
     			本人性格开朗，待人友好，为人诚实谦虚。工作勤奋，认真负责，能吃苦耐劳，尽职尽责，有耐心。
     		</p>
     		<p>
     			曾担任系学生会干部，在学生工作中大大提高了自己的办事能力和处事能力。此外还积极参加了课外文体活动，各种社会实践和兼职等，提高了自己的阅历。
     		</p>
     	<h3 class="hope">求职意向</h3>
     	<p>
     		岗位：web前端工程师
     		
     	</p>
     	<p>
     		薪资：6000.00元
     	</p>
    </ion-content>
</ion-view>