<ion-view view-title="我的技能">
	<ion-nav-buttons side="left">
	   <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
    <ion-content class="myskills">
      <ul id="skills">
      	<li>
      		<h4>HTML+CSS</h4>
      		<p>熟练掌握流式布局、响应式布局以及弹性布局的布局方式，熟悉主流浏览器在样式方面存在的差异性，可以写出兼容浏览器的代码并解决浏览器之间的表现的差异性。对于H5的新特性以及css3也有比较不错的认识。</p>
      	</li>
      	<li>
      		<h4>JavaScript</h4>
      		<p>对js中的常用技术比较了解，比如ajax、cookie等。实现页面的动画效果，并且兼容各浏览器。可以实现前后端的数据交互。熟悉面向对象编程。</p>
      	</li>
      	<li>
      		<h4>主流框架</h4>
      		<p>
      			可以熟练使用前端一些主流的框架，如jQuery、angular.js、swiper、zepto、iscroll、bootstrap、ionic等。熟悉mvc、mvvm设计模式。
      		</p>
      	</li>
      	
      </ul>
    </ion-content>
  </ion-view>