<ion-tabs class="tabs-icon-top tabs-positive">
      <ion-tab title="信息" icon="ion-android-person" href="#tab/home">
        <ion-nav-view name="tab-myshow"></ion-nav-view>
      </ion-tab>
      <ion-tab title="经验" icon="ion-paper-airplane" href="#tab/exp">
        <ion-nav-view name="tab-exp"></ion-nav-view>
      </ion-tab>
      <ion-tab title="技能" icon="ion-social-html5" href="#tab/skill">
        <ion-nav-view name="tab-skill"></ion-nav-view>
      </ion-tab>
      <ion-tab title="作品" icon="ion-xbox" href="#tab/works">
        <ion-nav-view name="tab-works"></ion-nav-view>
      </ion-tab>
    </ion-tabs>